/*21861128 한채연*/

body {
  margin: 0;
  font-family: sans-serif ,"본고딕";
  width: 100%;

}

#write {
  clear: left;
  margin: 0 0 0 56px;

}

.nav {
  width:100%;
}

.logo {
  float:left;
  color: white;
  font-size: 40px;
  margin: 16px 0 16px 56px;

}

.logo a:hover {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    background-color: black;
  color: black;
  overflow: hidden;
  width: 100%;


}

.li_margin {
  margin: 0 18px 0 0;
}

li {
    float: right;
    padding: 0 44px 0 0;
    margin: 34px 0 0 0 ;
}

 li a {

  font-weight: bold;
  text-decoration: none;
  color: white;
  display: inline;

}

li a:visited{
  text-decoration: none;
    color: white;
}

li a:hover, li a:active {
  color: #1bff10;
}


.color{
  color: #1bff10;
}

i {
  margin: 100px 0 0 0;

  color:black;
}

h1 {
  font-size: 72pt;
  font-weight: bold;
  clear: left;
  margin: 160px 0 0 72px;
}

h2 {
  font-size: 32pt;
  font-weight: bold;
  clear: left;
  padding: 120px 0 0 72px;
  color: #1bff10;
}

.back_ground {
  width: 100%;
  height: 6130px;
  background-color: black;
  margin: 180px 0 0 0;
position: relative;
}

.icon_img {
  margin: 220px 0 0 0;
}

.icon_img img {
  float: left;
  width: 35%;
  height: 35%;
  margin: 0 0 200px 72px;
  padding: 42px 0 0 80px;
}

.poster {
  margin: 42px 0 0 152px;
}

.poster img {
  float: left;
  width: 45%;
  height: 45%;
  margin: 0 0 0 0;
  padding: 0;
}

.icon_mockup_img {
  margin: 220px 0 0 0;
}

.icon_mockup_img img {
  float: left;
  width: 80%;
  height: 80%;
  margin: 0 0 200px 72px;
  padding: 42px 0 0 80px;
}

.icon_check {
  color: white;
  margin: 0 0 0 152px;
  font-size: 18pt;
  font-weight: bold;

}

.heaven_intro {
  color: white;
  padding: 16px 0 0 72px;
  font-size: 13pt;
  line-height: 2;
}

.icon_img2 {
  margin: 160px 0 0 0;
}

.icon_check2 {
  color: white;
  margin: 0 0 0 152px;
  font-size: 18pt;
  font-weight: bold;

}


.trade {
  font-size: 32pt;
  font-weight: bold;
  clear: left;
  padding: 336px 0 0 72px;
  color: #1bff10;
}

.cou {
  font-size: 32pt;
  font-weight: bold;
  clear: left;
  padding: 144px 0 0 72px;
  color: #1bff10;
}

.cou_mock {
  margin: 42px 0 0 110px;
}

.cou_mock img {
  float: left;
  width: 320px;
  height: 320px;
  margin: 0 0 0 0;
  padding: 0;
}
